body {
  min-width: 800px;
  margin: 0 auto;
  padding: 20px
}

.desc {
  text-align: center;
}

.calculator {
  margin: 20px;
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #999;
}

  .calculator h1 {
    font-size: 26px;
    text-align: center;
  }

textarea {
  width: 100%;
  min-height: 200px;
  margin: 20px 0;
  resize: vertical;
}

.instruction li {
  margin-bottom: 10px;
}

.instruction li img {
  margin-top: 10px;
}